body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url('transaction.webp'); /* Replace 'background_image.jpg' with the path to your background image file */
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: red;
}

form {
    max-width: 500px;
    margin: 25px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input, select {
    display: inline-block; /* Change display to inline-block */
    vertical-align: top; /* Align elements to the top */
    margin-bottom: 45px;
    margin-right: 20px; /* Add margin between cells */
}


input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
}
